---
const {
  label = "Suchen", // Changed to German
  title = "Abonnieren", // Subscribe in German
  id = "footer-input",
} = Astro.props;

interface Props {
  label?: string;
  title?: string;
  id?: string;
}

const placeholder = "E-Mail-Adresse eingeben"; // Email address in German
---

<div
  class="mt-4 flex flex-col items-center gap-2 rounded-lg bg-neutral-200 p-2 dark:bg-neutral-800 sm:flex-row sm:gap-3"
>
  <div class="w-full">
    <label for={id} class="sr-only">{label}</label>
    <input
      type="email"
      id={id}
      name="email"
      class="block w-full rounded-lg border-transparent px-4 py-3 text-sm focus:border-blue-500 focus:ring-blue-500 dark:bg-neutral-700 dark:text-neutral-400"
      placeholder={placeholder}
      aria-label={placeholder}
    />
  </div>
  <div class="w-full sm:w-auto">
    <button
      class="w-full rounded-lg bg-blue-600 px-4 py-3 text-sm font-semibold text-white transition hover:bg-blue-700 dark:bg-blue-700 dark:hover:bg-blue-800"
      title={title}
      type="submit"
    >
      {title}
    </button>
  </div>
</div>